{% extends 'website/base_bootstrap.html' %}

{% load staticfiles %}

{% block title %}Event Detail{% endblock %}

{% block body_block %}

			<h2>{{event.event_name}}</h2>
			<strong>Date: {{event.date}}</strong> <br />
        	<strong>Venue : {{event.venue}}</strong> <br />
            <strong>Number of volunteers: {{event.volunteer_num}}</strong> <br />
            <strong>Start time : {{event.start_time}}</strong> <br />
            <strong>End time : {{event.end_time}}</strong> <br />
			
			<p>{{event.description}}</p>
        
{% endblock %}