{% extends 'website/base_bootstrap.html' %}

{% load staticfiles %}

{% block title %}Events{% endblock %}

{% block body_block %}
<h1>Events</h1>

<div class="panel">
	{% if event_list %}
	<div class="panel-heading">
		<!-- Display search results in an ordered list -->
		<div class="panel-body">
			<div class="list-group">
				{% for event in event_list %}
				<div class="list-group-item">
                    <h4><a href="{% url 'event_detail' event.id %}">{{event.event_name}}</a></h4>
                    <p>Venue : {{event.venue}}</p>
                    <p>Date : {{event.date}}</p>
                    
					{% if event.picture %}
					<img width="64" height="64" src="{{ MEDIA_URL}}{{event.picture}}"/>
					{% else %}
					<img width="64" height="64" src="http://combonetwork.com/img/empty_profile.png"/>
					{% endif %}

				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% else %}
		<p>There are no events currently.</p>
	{% endif %}
</div>
{% endblock %}