
{% block title_block %}
Search
{% endblock %}

{% block body_block %}
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
            <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}

	<div class="row" >
			<form method="GET" action="" class="form-inline">
				<div class="form-group">
					<select class="form-control" id="parameterSelect" name="parameter">
				      <option>Events</option>
				      <option>Users</option>
				    </select>
				</div>
				<div class="form-group">
					<input name="q" type="text" class="form-control" id="queryText" placeholder="Enter search keyword" value=""/>
					<input type="submit" value="Search" class="btn">
				</div>
			</form>
	</div>

{% endblock %}
