
	{% load staticfiles %}

	<!DOCTYPE html>
	<html>

	<head>

	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <title>CollaborAid</title>

	    <!-- Core CSS - Include with every page -->
	    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	</head>

	<body>

	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">CollaborAid: Texas State Volunteering</a>
	    </div>

	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
	        
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
	          <ul class="dropdown-menu" role="menu">
	            <li><a href="/home">Home</a></li>
	            <li><a href="#">Edit Profile</a></li>
                <li><a href="#">View Volunteer Opportunities</a></li>
                <li><a href="#">Create Volunteer Opportunities</a></li>
	            <li><a href="/logout">Logout</a></li>
	          </ul>
	        </li>

	      </ul>
	    </div>
	  </div>
	</nav>
        
            {% block content %}
	            {% endblock %}
        
        {% block footer %}
        <!-- Footer -->
					<footer id="footer" class="panel">
						<div class="inner split">
							<div>
								<section>
									<h2>Make volunteering easy</h2>
									<p>CollaborAid provides a simple way for volunteers to find new ways
                                    to serve their community. Others looking for volunteers can also create events
                                    for potential volunteers to join, and help out. </p>
								</section>
								
							</div>
							<div>
								<section>
									<h2>Get in touch</h2>
									<form method="post" action="#">
										<div class="field half first">
											<input type="text" name="name" id="name" placeholder="Name" />
										</div>
										<div class="field half">
											<input type="text" name="email" id="email" placeholder="Email" />
										</div>
										<div class="field">
											<textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
										</div>
											<input type="submit" value="Send" class="special" />
											<input type="reset" value="Reset" />
										
									</form>
								</section>
							</div>
						</div>
					</footer>

        {% endblock %}


	    <!-- Core Scripts - Include with every page -->
	    <script src = "{% static 'js/jquery.min.js' %}"></script>

	    <script src = "{% static 'js/bootstrap.min.js' %}"></script>

	    {% block javascript %}
	    {% endblock %}

	</body>

	</html>
